<!-- footer -->
<div id="cpp-footer-base" class="noprint">
    <div id="footer">
        <div id="cpp-navigation">
			<h5>Navigation</h5>
			<ul>
                {{! <li id="n-Support-us"><a href="http://www.cppreference.com/support" rel="nofollow">Support us</a></li> }}
                {{! <li id="n-recentchanges"><a href="/w/Special:RecentChanges" title="A list of recent changes in the wiki [r]" accesskey="r">Recent changes</a></li> }}
                {{! <li id="n-FAQ"><a href="/w/Cppreference:FAQ">FAQ</a></li> }}
                {{! <li id="n-Offline-version"><a href="/w/Cppreference:Archives">Offline version</a></li> }}
            </ul>
		</div>
        <div id="cpp-toolbox">
			<h5><span>Toolbox</span><a href="#"></a></h5>
			<ul>
                {{! <li id="t-whatlinkshere"><a href="/w/Special:WhatLinksHere/Main_Page" title="A list of all wiki pages that link here [j]" accesskey="j">What links here</a></li> }}
                {{! <li id="t-recentchangeslinked"><a href="/w/Special:RecentChangesLinked/Main_Page" title="Recent changes in pages linked from this page [k]" accesskey="k">Related changes</a></li> }}
                {{! <li id="t-upload"><a href="http://upload.cppreference.com/w/Special:Upload" title="Upload files [u]" accesskey="u">Upload file</a></li> }}
                {{! <li id="t-specialpages"><a href="/w/Special:SpecialPages" title="A list of all special pages [q]" accesskey="q">Special pages</a></li> }}
                {{! <li id="t-print"><a href="/mwiki/index.php?title=Main_Page&amp;printable=yes" rel="alternate" title="Printable version of this page [p]" accesskey="p">Printable version</a></li> }}
                {{! <li id="t-permalink"><a href="/mwiki/index.php?title=Main_Page&amp;oldid=121738" title="Permanent link to this revision of the page">Permanent link</a></li> }}
                {{! <li id="t-info"><a href="/mwiki/index.php?title=Main_Page&amp;action=info">Page information</a></li> }}
            </ul>
		</div>
        <div id="cpp-languages">
			{{! <div><ul><li>In other languages</li></ul></div> }}
			<div><ul>
                {{! <li class="interwiki-ar"><a href="http://ar.cppreference.com/w/Main_Page" title="Main Page" lang="ar" hreflang="ar">العربية</a></li> }}
                {{! <li class="interwiki-cs"><a href="http://cs.cppreference.com/w/Main_Page" title="Main Page" lang="cs" hreflang="cs">Česky</a></li> }}
                {{! <li class="interwiki-de"><a href="http://de.cppreference.com/w/Main_Page" title="Main Page" lang="de" hreflang="de">Deutsch</a></li> }}
                {{! <li class="interwiki-es"><a href="http://es.cppreference.com/w/Main_Page" title="Main Page" lang="es" hreflang="es">Español</a></li> }}
                {{! <li class="interwiki-fr"><a href="http://fr.cppreference.com/w/Main_Page" title="Main Page" lang="fr" hreflang="fr">Français</a></li> }}
                {{! <li class="interwiki-it"><a href="http://it.cppreference.com/w/Main_Page" title="Main Page" lang="it" hreflang="it">Italiano</a></li> }}
                {{! <li class="interwiki-ja"><a href="http://ja.cppreference.com/w/Main_Page" title="Main Page" lang="ja" hreflang="ja">日本語</a></li> }}
                {{! <li class="interwiki-ko"><a href="http://ko.cppreference.com/w/Main_Page" title="Main Page" lang="ko" hreflang="ko">한국어</a></li> }}
                {{! <li class="interwiki-pl"><a href="http://pl.cppreference.com/w/Main_Page" title="Main Page" lang="pl" hreflang="pl">Polski</a></li> }}
                {{! <li class="interwiki-pt"><a href="http://pt.cppreference.com/w/Main_Page" title="Main Page" lang="pt" hreflang="pt">Português</a></li> }}
                {{! <li class="interwiki-ru"><a href="http://ru.cppreference.com/w/Main_Page" title="Main Page" lang="ru" hreflang="ru">Русский</a></li> }}
                {{! <li class="interwiki-tr"><a href="http://tr.cppreference.com/w/Main_Page" title="Main Page" lang="tr" hreflang="tr">Türkçe</a></li> }}
                {{! <li class="interwiki-zh"><a href="http://zh.cppreference.com/w/Main_Page" title="Main Page" lang="zh" hreflang="zh">中文</a></li> }}
            </ul></div>
		</div>
        {{#data-footer}}
            {{#data-info}}{{>FooterList}}{{/data-info}}
            {{#data-places}}{{>FooterList}}{{/data-places}}
            {{#data-icons}}{{>FooterList}}{{/data-icons }}
        {{/data-footer}}
	</div>
</div>
<!-- /footer -->
