{{>header}}
<!-- content -->
<div id="cpp-content-base">
	<div id="content">
		<a id="top"></a>
		<div id="siteNotice" class="mw-body-content">{{{html-site-notice}}}</div>
		{{>Indicators}}
		<h1 id="firstHeading" class="firstHeading" {{{html-user-language-attributes}}}>{{{html-title}}}</h1>
		<div id="bodyContent">
			<!-- tagline -->
			{{#page-isarticle}}<div id="siteSub" class="noprint">{{msg-tagline}}</div>{{/page-isarticle}}
			<!-- /tagline -->
			<!-- subtitle -->
			<div id="contentSub"{{{html-user-language-attributes}}}>{{{html-subtitle}}}</div>
			<!-- /subtitle -->
			<!-- bodycontent -->
			{{{html-body-content}}}
			<!-- /bodycontent -->
			{{!
				Keep this empty `div` for compatibility with gadgets and user scripts
				using this place to insert extra elements before.
			}}
			<div id="jump-to-nav"></div>
			<a class="mw-jump-link" href="#mw-head">{{msg-vector-jumptonavigation}}</a>
			<a class="mw-jump-link" href="#searchInput">{{msg-vector-jumptosearch}}</a>
			{{{html-categories}}}
		</div>
	</div>
</div>
{{{html-after-content}}}
<!-- /content -->
{{>footer}}
