<html>  
  <head>
    <title>Express Visualizer</title>
    <link rel="stylesheet" type="text/css" href="{{{styles}}}/main.css">
   {{!-- <script--}}
			{{!--src="https://code.jquery.com/jquery-3.1.1.min.js"--}}
			{{!--integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="--}}
			{{!--crossorigin="anonymous"></script>--}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>